* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f5f5f5;
}
.nav {
  list-style: none;
  position: sticky;
  top: 0%;
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icons-head {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.test {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  font-size: 20px;
  gap: 40px;
  list-style: none;
  height: 200px;
}
li:hover {
  color: #a26028;
}
.h {
  text-align: center;
  margin-bottom: 30px;
}
.main {
  display: flex;
  text-align: center;
}

.img1 p {
  align-items: center;
  text-align: center;
  padding: 70px 50px;
  margin-bottom: 40px;
  /* height: 100%; */
  /* width: 48%; */
  /* margin-left: 130px; */
  /* text-align: center; */
}
.main img {
  width: 87%;
  height: 350px;
  margin-bottom: 30px;
}
.omp {
  background-color: black;
  color: white;
  height: 300px;
  text-align: center;
  padding-top: 100px;
}
button {
  margin-top: 20px;
  padding: 10px 10px 10px 10px;
}
button:hover {
  background-color: #a26028;
}

.footer {
  background-color: #f5f5f5;
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.icon:hover {
  background-color: #a26028;
}
